Django==5.2.12
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
python-dotenv==1.2.2
mysqlclient==2.2.8
joblib==1.5.3
numpy==2.4.2
pandas==3.0.0
scikit-learn==1.8.0
spacy==3.8.14
fr_core_news_sm==3.8.0
